.tape {
    border: 2px solid #000000;
    display: flex;
}

.tape-left {
    display: flex;
    flex-direction: row-reverse;
}

.tape-head {
    border: 2px solid #00FF00;
    display: flex;
    justify-content: center;
}

.sign-box {
    font-family: monospace;
    border: 2px solid #FF0000;
}

#turing_machine_playground {
    display: flex;
}

.control {
    width: 500px;
}

.machine {
    width: 500px;
}
