[book]
authors = ["pdf-jube-joba"]
language = "jp"
src = "src"
title = "computations"

[build]
build-dir = "./out"

[preprocessor.katex]
after = ["links"]
inline-delimiter = { left = "\\(", right = "\\)" }
block-delimiter = { left = "\\[", right = "\\]" }
macros = "macros.txt"
